/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

html {
	background-color: #FFFEF8;
}

body {
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;

	max-width: 1440px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	width: 66%;
	max-width: 950px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	justify-content: space-evenly;
	height: 42px;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
.header {
	display: flex;
	justify-content: space-between;
	margin: 42px 0 50px 0;

	width: 80%;
	max-width: 1140px;
}
header nav ul {
	justify-content: space-between;
	width: 319px;	
	align-items: center;
	height: 42px;
}
header nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
header nav li {
	font-size: 16px;
	font-weight: 400;
}
header nav a {
	text-decoration: none;
	color: black;
}
header nav li img {
	width : 22px;
	height : 22px;
}
li:hover, .login {
	font-weight: 700;
}
#introduction {
	display: flex;
	align-items: center;
	margin: 89px 0 139px 0;

}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 87%;
	max-width: 474px;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 19px;
}

#introduction p {
	margin-bottom: 1em;
}

article {
	max-width: 404px;
}

.projetsTitre {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.projetsTitre_modifier {
	font-size: 14px;
}
.fa-pen-to-square {
	font-size: 16px;
	margin: 0 10px 0 31px;
}

/* Filter buttons by categories */
.categories {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #1D6154;
}
.catButton {
	border: 1px solid #1D6154;
	border-radius: 60px;
	width: auto;
	min-width: 80px;
	height: 27px;
	text-align: center;
	padding: 10px 10px 0 10px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	margin: 0 7px;
	cursor: pointer;
}
.catSelected {
	color: #FFFEF8;
	background-color: #1D6154;
}
/** End filter buttons **/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-top: 50px;
}
.gallery figure {
	max-width: 100%;

}
.gallery img {
	height: 399px;
	width: 286px;
	object-fit: cover;
}


#contact, #login {
	width: 380px;
	margin: auto;
}
#contact, #login > * {
	text-align: center;
}
#contact h2{
	margin-top: 60px;
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 40px 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	border-radius: 60px ;
	cursor: pointer;
}
#contact input[type="submit"], #login input[type="submit"] {
	background-color: #1D6154;
	margin : 40px auto ;
	width: 179px;
	max-height: 36px;
	text-align: center;
}
#contact input[type="submit"]:hover, #login input[type="submit"]:hover {
	background-color: black;
}


footer {
	width: 100vw;
	height: 60px;
	background-color: white;
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
footer nav ul {
	margin: 0 105px 0 105px;
}
footer nav li{
	font-size: 14px;
	font-weight: 300;
}

/** Login page **/

#login h2 {	
	margin: 100px 0 7px 0;
}
#login label {
	margin: 30px 0 1em 0;
}
#login span {	
	text-align: center;
	margin-top: -12px;
	margin-bottom: 350px;
	text-decoration: underline;
}
#msgError {		
	text-align: center;
	margin-top: 30px;
	font-size: 16px;
	color: red;
	font-weight: 700;
	display: none;
}

/** Mode édition **/
#modeEdition {
	width: 100vw;
	font-size: 16px;
	color: white;
	background-color: black;
	text-align: center;
	padding: 21px 0;
}
#logout, #modifier {
	cursor: pointer;
}
.hidden {
	display: none;
}

/** Boites modales **/
.modal {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
.modal-body {
	justify-content: center;
	width: 630px;
	height: 688px;
	border-radius: 10px;
	background: #ffffff;
}
#fermerModal {
	position: relative;
	top: 29px;
	left: 582px;
	font-size: 20px;
	cursor: pointer;
}
.modal-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h3 {
	font-size: 26px;
	margin: 43px 0 47px 0;
	text-align: center;
}
.gallery-mini {
	display: flex;
	flex-wrap: wrap;
	row-gap: 22px;
	column-gap: 8px;
	width: 420px;
}
.gallery-mini img {
	height: 103px;
	width: 76px;
	object-fit: cover;
}
.fa-trash-can {
	position: relative;
	z-index: 2;
	bottom: 85px;
	left: 5px;
	height: 15px;
	width: 17px;
	padding-top: 4px;
	font-size: 11px;
	text-align: center;
	color: #ffffff;
	background-color: black;
	border: solid 0px black;
	cursor: pointer;
	margin-left: -27px;
}
.modal-line {
	border-top: solid 1px #B3B3B3;
	width: 420px;
	margin: 47px 0 37px 0;
}
.modal-button {
	width: 237px;
	height: 25px;
	border-radius: 60px;
	background-color: #1D6154;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	padding-top: 11px;
	cursor: pointer;
}

.fa-arrow-left {
	position: relative;
	z-index: 2;
	top: 26px;
	left: 36px;
	font-size: 21px;
	cursor: pointer;
}
 #fermerModal2 {
	position: relative;
	z-index: 2;
	top: 28px;
	left: 559px;
	font-size: 20px;
	cursor: pointer;
}
.modal-form {
	max-width: 420px;
	display: flex;
	flex-direction: column;	
	align-items: center;
}
.photo-add_container {
	height: 169px;
	width: 100%;
	display: flex;
	flex-direction: column;	
	align-items: center;
	background-color: #E8F1F6;
	border-radius: 3px;
}
.fa-image {
	font-size: 68px;
	color: #B9C5CC;
	margin-top: 17px;
}
#photoAdd-button {
	width: 173px;
	height: 25px;
	padding-top: 11px;
	margin: 11px 0 7px 0;
	background-color: #CBD6DC;
	border-radius: 50px;
	font-size: 14px;
	font-weight: 500;
	color: #306685;
	text-align: center;
	cursor: pointer;
}
.photo-add_container span {
	position: absolute;
	z-index: 1;
	margin-top: 140px;
	font-size: 10px;
	font-weight: 400;
	color: #444444;
}
.modal-form #titre, .categories-container {
	height: 51px;
	width: 100%;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 16px;
}
.modal-form label, .modal-form select, .modal-form option {
	font-family: 'Work Sans';	
	font-size: 14px;
}
.categories-container {
	width: 100%;
}
.categories-container #categories {
	position: relative;
	z-index: 1;
	appearance: none;
	width: 92%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	color: #444444;
	font-size: 14px;
	cursor: pointer;
	padding: 0;
	/* margin-left: 16px; */
	border: 0;
}
#photoAdd-preview {
	position: absolute;
	top: 247px;
	height: 169px;
}
.modal-form_label {
	margin: 21px 0 10px 0;
	width: 100%;
	display: flex;
	justify-content: left;
}
.fa-chevron-down {
	position: relative;
	z-index: 0;
	bottom: 32px;
	left: 175px;
	font-size: 11px;
	color: #6C6C6C;
}
#msgErrorForm {
	font-size: 15px;
	color: red;
	margin-top: 16px;
	margin-bottom: -24px;
}
#buttonValidate {
	width: 237px;
	height: 36px;
	border-style: none;
}
.buttonValidateFalse {
	background-color: #a7a7a7;
}
.buttonValidateTrue {
	background-color: #1D6154;
}

.transparent {
	opacity: 0;
}